$primary: #00B98E;
$secondary: #FF6922;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #EFFDF5;
$dark: #0E2E50;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/aos/dist/aos.css'
